/*version 3.8*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

*{

  font-family: 'Inter', sans-serif;
  

}

html, body {
  height: 100%;
  margin: 0px;
  background-color: #f7f7f7;
}

  h1 
  {  font-size: 8vw; 
        font-weight: bold;
        text-align: center;}

  .linear-wipe {
    
    
    background: linear-gradient(to right, #363b75 20%, #78a9cf 40%, #5693c3 60%, #363b75 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 2.5s linear infinite;
            animation: shine 2.5s linear infinite;
  }
  @-webkit-keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  


   .square1, .square2, .square3, .square4, .square5 , .square6, .square7, .square8    {
    width: 90vw;
    border-radius: 2vw;
    margin: 0 auto;
    background: white;
  
  }


  .square1, .square2, .square3 {
    height: 63vw;

  }

  .square4 {
    height: 116vw;

  }

  
  .square5 {

    height: 78vw;

  }
    
  .square6 {

    height: 83vw;

  }
      
  .square7 {

    height: 50vw;

  }
  
  .square8 {

    height: 60vw;

  }

  .square2, .square3, .square4, .square5 , .square6, .square7, .square8  {
  margin-top: 10%;

}

.content{
  font-size: 5vw; 
  font-weight: bold;
  margin: 5% 0 0 5%;
  position: absolute;
  color: gray;
  
}

.text {
  font-size: 4vw;
  margin: auto;
  color: black;
  padding: 15% 0 0 5%
   
}
#ppb1 #ppb2 #ppb3 #ppb4 #ppb5 {
  font-size: 5vw;
  cursor: pointer;
  color: white;

}

.audioB {
  
  width: 81vw;
  height: 9.45vw;
  margin: 5% auto auto;
  background: #252122;
  border-radius: 2vw;
  text-align: center;
  padding-top: 5%;
  font-size: 4vw;
  font-weight: bold;
  color: white;
  
}

footer {

padding: 5%;
  text-align: center;
  
}


.rgb-text {

  font-size: 2vw;
  color: white;

}