/*version 3.3*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

*{

background: color #f7f7f7; ;

}

html, body {
  height: 100%;
  margin: 0px;
}

  h1 
  {  font-size: 8vw; 
        font-family: inter;
        font-weight: bold;}

  .linear-wipe {
    text-align: center;
    
    background: linear-gradient(to right, #363b75 20%, #78a9cf 40%, #5693c3 60%, #363b75 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 2.5s linear infinite;
            animation: shine 2.5s linear infinite;
  }
  @-webkit-keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }



.square1{
  width: 90vw;
  height: 63vw;
  border-radius: 2vw;
  margin-left: auto;
  margin-right: auto;
  background: #F7F7F7;

}

.content{
  font-size: 5vw; 
  font-weight: bold;
  margin-top: 5%;
  margin-left: 5%;
  position: absolute;
  color: #252525;
  font-family: 'Inter', sans-serif;
  
}

.text {
  font-size: 4vw;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', sans-serif;
  color: #AEAEAE;
  padding-top: 15%;
  padding-left: 5%;
   
}
#ppb1{
  font-size: 4vw;
  cursor: pointer;
  color: white;

  
}
#ppb2{
  font-size: 4vw;
  cursor: pointer;
  color: white;
  
}
#ppb3{
  font-size: 4vw;
  cursor: pointer;
  color: white;
  
}

.audioB {
  
  width: 90%;
  height: 15%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background: #252122;
  border-radius: 2vw;
  text-align: center;
  padding-top: 5%;
  font-size: 4vw;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  color: white;
  

}

.square2{
  width: 90vw;
  height: 63vw;
  border-radius: 2vw;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  background: #F7F7F7;
  
}


.square3{
  width: 90vw;
  height: 63vw;
  border-radius: 2vw;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  background: #F7F7F7;
  
}

.rgb-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 2vw;
  color: white;
  
}