/*version 3.5*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

*{

  font-family: 'Inter', sans-serif;
  

}

html, body {
  height: 100%;
  margin: 0px;
  background-color: #f7f7f7;
}

  h1 
  {  font-size: 8vw; 
        font-weight: bold;
        text-align: center;}

  .linear-wipe {
    
    
    background: linear-gradient(to right, #363b75 20%, #78a9cf 40%, #5693c3 60%, #363b75 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 2.5s linear infinite;
            animation: shine 2.5s linear infinite;
  }
  @-webkit-keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  


   .square1, .square2, .square3 {
    width: 90vw;
    height: 63vw;
    border-radius: 2vw;
    margin: 0 auto;
    background: white;
  
  }

  .square3, .square2 {
  margin-top: 10%;

}

.content{
  font-size: 5vw; 
  font-weight: bold;
  margin: 5% 0 0 5%;
  position: absolute;
  color: gray;
  
}

.text {
  font-size: 4vw;
  margin: auto;
  color: black;
  padding: 15% 0 0 5%
   
}
#ppb2 #ppb3 #ppb1{
  font-size: 4vw;
  cursor: pointer;
  color: white;

}

.audioB {
  
  width: 90%;
  height: 15%;
  margin: 5% auto auto;
  background: #252122;
  border-radius: 2vw;
  text-align: center;
  padding-top: 5%;
  font-size: 4vw;
  font-weight: bold;
  color: white;
  

}
footer {

padding: 5%;
  text-align: center;
  
}


.rgb-text {

  font-size: 2vw;
  color: white;

}